<p>
  home works!
</p>

<app-simple-button
  buttonText="Agregar nuevo componente"
  buttonType="primary"
  (buttonClickEvent)="addNewComponent()">
</app-simple-button>

<app-simple-button
  buttonText="Imprimir componentes"
  buttonType="primary"
  (buttonClickEvent)="printComponents()">
</app-simple-button>

<app-simple-button
  buttonText="Limpiar contenedor"
  buttonType="primary"
  (buttonClickEvent)="clearContainer()">
</app-simple-button>

<app-simple-button
  buttonText="Actualizar mensajes"
  buttonType="primary"
  (buttonClickEvent)="updateAlertMessageRefs()">
</app-simple-button>

<template #container></template>